* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

#whitespace {
    height: 170px;
}

.container {
    padding: 0;
    max-width: 90%;
}

h2 {
    color: #83C73D;
    margin-bottom: -2px;
    font-weight: 600;
    font-size: 3.2em;
}

a:link {
    text-decoration: none;
}

#absolute-container p {
    color: #83C73D;
    font-weight: 300;
    font-size: 1.55em;
    margin-bottom: 75px;
}

span {
    color: #538A1D;
}

#input-container {
    margin-top: 20px;
}

#search {
    max-width: 22em;
    margin: 0;
    border-radius: 40px;
    border: none;
    padding: 2px 0 0 75px;
    height: 62px;
    line-height: 28px;
    box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.07);
    color: #989da0;
    font-size: 1.2em;
    font-weight: 400;
}

#search::placeholder {
    color: #CED4DA;
}

#magnifying-glass {
    position:relative;
    width:30px;
    right:170px;
    bottom:46px;
    cursor: pointer;
}

#flexContainer {
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
}

.divTest {
    max-width: 47%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.divTest img {
    margin-bottom: 20px;
}

.table-wrapper-scroll-y,
.my-custom-scrollbar {
    max-width: 100%;
    width: 100%;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: flex;
    position: relative;
}

#loading-sign {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px),
(max-width : 600px),
(min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #flexContainer {
        flex-direction: column;
        justify-content: space-between;
    }
    .divTest {
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
    }

    table {
        font-size: 28px;
    }

    .my-custom-scrollbar {
        height: 500px;
    }
}

thead tr:nth-child(1) th {
    background: #e7f9d4;
    color: #528A1C;
    font-size: 1.1em;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    outline: #e7f9d4 solid 2px;
    outline-offset: -1px;
}

tbody {
    color:#6d7072;
}